:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --body-bg-cl: #ffffff;
  --hero-bg-cl: #2e2f42;
  --team-bg-cl: #f4f4fd;
  --footer-bg-cl: #2e2f42;
  --portfolio-bg-cl: var(--color-white);
  --btn-filter-bg: #f4f4fd;
  --btn-filter-bg-active: #404bbf;
}
.body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
  background-color: var(--color-white);
}
.header {
  text-decoration: none;
  list-style: none;
}
.header-nav {
  text-decoration: none;
  list-style: none;
}
.hero,
.title-hero {
  background-color: var(--color-navy-blue);
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
.hero-button {
  background-color: var(--color-iris);
  color: var(--color-white);
  font-family: inherit;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  text-decoration: none;
}
.logo-light {
  color: #f4f4fd;
}
.logo-dark {
  color: #2e2f42;
}
.header-list,
.header-link:hover,
.header-link:focus {
  font-weight: 500;
  color: var(--color-navy-blue);
  list-style: none;
}

.title-section-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-navy-blue);
  list-style: none;
}
.address {
}
.header-contact {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-slate);
}

.section {
}
.section-list {
  text-decoration: none;
}
.section-item {
  text-decoration: none;
}
.button:hover,
.button:focus {
  font-family: inherit;
  color: var(--color-iris);
  background-color: var(--color-cornflower);
}

.text {
  color: var(--color-slate);
}
.footer {
}
